* text=auto eol=lf

archetypes/*.md linguist-detectable=true
archetypes/*.md linguist-documentation=false

*.toml linguist-detectable=true
*.toml linguist-documentation=false


*.md linguist-detectable=true
*.md linguist-documentation=true
*.html linguist-detectable=false
*.html linguist-documentation=false
*.css linguist-detectable=false
*.css linguist-documentation=false
*.js linguist-detectable=false
*.js linguist-documentation=false
